<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"> # </th>
      <th scope="col">Item Name</th>
      <th scope="col">Brand Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Colour</th>
      <th scope="col">Size</th>
      <th scope="col">Shoe</th>
      <th scope="col">image</th>
      <th scope="col"> - </th>
    </tr>
  </thead>
  <tbody>
  <% for(var i = 0; i < catalouge.length; i++ ) { %>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= catalouge[i].catalouge.name %></td>
      <td><%= catalouge[i].catalouge.brand %></td>
      <td><%= catalouge[i].catalouge.gender %></td>
      <td><%= catalouge[i].catalouge.colour %></td>
      <td><%= catalouge[i].catalouge.size %></td>
      <td><%= catalouge[i].catalouge.productType %></td>
      <td><%= catalouge[i].catalouge.image %></td>
    </tr>
  <% } %>
  <tr>
    <form action = '/admin' method="post" enctype="multipart/form-data">
      <th>  </th>
        <div class = "user-input">
          <input type="hidden" name = "form_name" value = "catalouge">
          <td>
            <input class="form-control" placeholder="item name" type="text" name = "item_name">
          </td>

          <td>
            <select class="form-control" placeholder="brand name" name="brand_name">
              <% for(var i = 0; i < catalouge.length; i++) { %>
                <option value="<%= catalouge[i].catalouge.brand %>"><%= catalouge[i].catalouge.brand %></option>
              <% } %>
            </select>
          </td>

          <td>
            <input class="form-control" placeholder="gender"  type="text" name = "gender">
          </td>

          <td>
            <select class="form-control" placeholder="colour" name="colour">
              <option value="Black">Black</option>
              <option value="White">White</option>
              <option value="Blue">Blue</option>
              <option value="Grey">Grey</option>
              <option value="Brown">Brown</option>
              <option value="Stone">Stone</option>
              <option value="Yellow">Yellow</option>
              <option value="Purple">Purple</option>
              <option value="Red">Red</option>
              <option value="Orange">Orange</option>
              <option value="Pink">Pink</option>
            </select>
          </td>

          <td>
            <select class="form-control" placeholder="size" name="size">
              <option value="XS">XS</option>
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
              <option value="XL">XL</option>
              <option value="XXL">XXL</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </td>

          <td>
            <select class="form-control" placeholder="product type" name="product_type">
              <option value="shoe">shoe</option>
              <option value="trouser">trouser</option>
              <option value="shirt">shirt</option>
              <option value="t-shirt">t-shirt</option>
              <option value="jacket">jacket</option>
              <option value="jumper">jumper</option>
              <option value="accesory">accesory</option>
            </select>
          </td>

          <td>
            <input class="form-control" placeholder="image location"  type="file" name = "file">
          </td>

        </div>
        <td>        
          <button class="btn btn-lg btn-primary btn-block submit-login" type="submit">Add catalouge</button>
        </td>
      </form>

    </tr>
  </tbody>
</table>
